<!DOCTYPE html>
<html lang="hu">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    #profile{
        height: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1/1;
        transition: .15s ease-in-out;
      }
  </style>
</head>
<body class="bg-dark text-white" onload="getID('<%= id %>', '<%= filename %>', '<%= type %>'); getProgress('<%= id %>', '<%= type %>', '<%= filename %>')" onbeforeunload="saveProgress()">
  <nav class="autohide navbar navbar-expand-md bg-black navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Netflix Prime +</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav me-auto">
      <% let next_link; let o = ' opacity-0 disabled'
      if(type=='series'){
        if(filename.split('_')[2].split('.')[0] != episodes[seasons-1] || episodes.length != filename.split('_')[1]){
          o = ''
          let dir = filename.split('_')[0].split('/')[0]
          let s = filename.split('_')[1]*1
          let e = filename.split('_')[2].split('.')[0]*1
          if(e == episodes[s-1]) next_link = `/series/${id}/${dir}/${s+1}/1`
          else next_link = `/series/${id}/${dir}/${s}/${e+1}`}
      }
      %>
        <li class="nav-item m-2">
          <a href="<%= next_link %>" class="btn btn-success<%=o%>">Next episode</a>
        </li>
		  <% if(type=='series' && !(filename.split('_')[1] == 1 && filename.split('_')[2].split('.')[0] == 1)){
        let dir = filename.split('_')[0].split('/')[0]
        let s = filename.split('_')[1]*1
        let e = filename.split('_')[2].split('.')[0]*1
        let prev_link
        if(e == 1) prev_link = `/series/${id}/${dir}/${s-1}/${episodes[s-2]}`
        else prev_link = `/series/${id}/${dir}/${s}/${e-1}`
      %>
        <li class="nav-item m-2">
          <a href="<%= prev_link %>" class="btn btn-success">Previous episode</a>
        </li>
      <% } %>
		  <li class="nav-item d-none m-2" id="br_count"></li>
        </ul>
        <p class="m-2"><%= name %></p>
		    <a id="profile" class="d-flex rounded m-2 border border-secondary" style="background-image: url('/assets/<%= profile_image %>');" href="/profile"></a>
        <button class="d-flex btn btn-danger m-2" onclick="logout()">Log out</button>
      </div>
    </div>
  </nav>
  <div class="container p-5 my-5">
		<div class="ratio ratio-16x9">
			<video id="vid" onplay="startAutosave()" onpause="saveProgress(); clearInterval(autosave)" ontimeupdate="progressBar()" style="object-fit: cover;" class="embed-responsive-item" src="/media/<%= filename %>" controls></video>
      <div style="width: 0; height: 5px; background-color: red; position: absolute; bottom: 0; left: 0; top: auto; transition: 0.5s ease;" id="p"></div>
      <div id="init" onclick="play()" style="cursor: pointer; width: 100%; height: 100%; background-image: url('/assets/<%= image %>'); background-size: contain; background-position: center; background-repeat: no-repeat; align-items: center; justify-content: center;" class="bg-dark border border-secondary d-flex">
        <img src="/assets/play.png" style="width: 60px; height: 60px;">
      </div>
    </div>
    <div class="container">
      <h1 class="mt-3 float-start"><%= title %></h1>
      <% if(type=='series'){ %>
      <h1 class="mt-3 float-end"><%= `S${filename.split('_')[1]*1 < 10 ? 0 + '' + filename.split('_')[1]*1 : filename.split('_')[1]*1} E${filename.split('_')[2].split('.')[0]*1 < 10 ? 0 + '' + filename.split('_')[2].split('.')[0]*1 : filename.split('_')[2].split('.')[0]*1}` %></h1>
      <% } %>
    <p class="float-start"><%= description %></p>
    </div>
	</div>
  <script>
    let vid = document.getElementById('vid')
    let autosave
    function startAutosave(){
      autosave = setInterval(saveProgress, 60000)
    }
    function play(){
      document.getElementById('init').classList.add('d-none')
      vid.play()
    }
    function getProgress(id, type, filename){
      let formData = new FormData()
      if(type == 'movie'){
        formData.append("id", id)
        formData.append("type", type)
        fetch('/getprogress', {method: "POST", body : formData})
          .then(response => response.json())
          .then(r => {
              vid.currentTime = r.current
          })
      } 
      else{
        formData.append("id", id)
        formData.append("type", type)
        formData.append("filename", filename)
        console.log(filename);
        fetch('/getprogress', {method: "POST", body : formData})
          .then(response => response.json())
          .then(r => {
              vid.currentTime = r.current
          })
      }
    }
  </script>
	<script src="/assets/script.js"></script>
</body>
</html>